{
  "presets": ["react", "env", "stage-2", "flow"],
  "plugins": [["flow-react-proptypes", { "ignoreNodeModules": true }]],
  "env": {
    "es": {
      "comments": false,
      "loose": true,
      "modules": false
    }
  }
}
