{
  "presets": ["react", "env", "stage-0", "flow"],
  "plugins": ["add-module-exports", ["flow-react-proptypes", { "ignoreNodeModules": true }]],
  "env": {
    "es": {
      "comments": false,
      "minified": true
    },
    "commonjs": {
      "comments": false,
      "minified": true
    }
  }
}
