{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-quotes": 0,
    "react/wrap-multilines": 0,
    "react/jsx-closing-tag-location": 0
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
