{
  "extends": ["unobtrusive", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-quotes": 0,
    "react/wrap-multilines": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-sort-prop-types": 0,
    "react/display-name": 0,
    "prettier/prettier": "error"
  },
  "plugins": [
    "react",
    "flowtype",
    "prettier"
  ]
}
