.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.container table {
  width: 100%;
  text-align: left;
}

.table__title {
  display: flex;
  justify-content: space-between;
}